/*----------*----------*----------*----------*---------- Family */
$font-family-title: "Oswald", sans-serif;
$font-family-content: "Plus Jakarta Sans", sans-serif;

/*----------*----------*----------*----------*---------- Colors */
$color-primary: hsl(0, 0%, 100%);

$color-secondary: hsl(0, 0%, 11%);
$color-secondary-m: hsla(0, 0%, 11%, 0.4);
$color-secondary-m-2: hsla(0, 0%, 11%, 0.9);

$color-tertiary: hsl(0, 0%, 17%);
$color-quaternary: hsl(0, 1%, 50%);