.clients {
  display: flex;
  justify-content: space-between;
  height: 10rem;

  @include respond(62.5em) { //1000px
   height: 7rem; 
  }

  &__container {
    padding: 0 20rem;

    @include respond(62.5em) { //1000px
      padding: 0 10rem;
    }
  }

  &__logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}